.stepper {
    &__li {
        position: relative;
        &:not(:last-child) {
            &::after {
                content: '';
                display: block;
                width: 1px;
                height: 100%;
                background-color: var(--surface-d);
                position: absolute;
                top: 0;
                left: 12.5px;
            }
        }
        .icon {
            border-radius: 50%;
            width: 25px;
            height: 25px;
            display: inline-flex;
        }
        .description {
            display: none;
        }
        &.active {
            .description {
                display: block;
            }
        }
    }
}