@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import "primereact/resources/themes/mdc-light-indigo/theme.css";
@import "primereact/resources/primereact.min.css"; 
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import 'primeicons/primeicons.css';

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
